
/* * {box-sizing: border-box;} */

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
  }

body {
    background-image: linear-gradient(#22206C,#b071cd);
    margin: 0;
    font-family: 'Cairo', sans-serif;
    /* background-repeat: no-repeat;
    background-position: top;
    background-size: contain; */
    background-attachment: scroll;
    overflow-x: hidden;
}

/*-----------------------------------------------------button-----------------------------------------------------*/

#back-to-top-btn {
  display: none;
  position: fixed;
  bottom: 2%;
  right: 2%;
  font-size: 26px;
  width: 4%;
  height: 9%;
  background-color: white;
  color: #3e3688;
  cursor: pointer;
  outline: none;
  border: 0px solid #333;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.15);
  border-radius: 50%;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-property: background-color, color;
}
#back-to-top-btn:hover, #back-to-top-btn:focus {
  background-color: #3e3688;
  color: #fff;  
}

@media(max-width: 992px) {
  .container { padding: 20px 100px; }
  #back-to-top-btn { font-size: 22px; width: 40px; height: 40px; bottom: 15px; right: 15px; }
}
@media(max-width:768px) {
  body { font-size: 16px; }
  .container { padding: 10px 50px; }
  h1 { font-size: 26px; }
  h2 { font-size: 22px; }
  hr { margin: 30px 0; }
  #back-to-top-btn { font-size: 18px; width: 32px; height: 32px; bottom: 6px; right: 6px; }
}

/* Animations */
.btnEntrance {
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-name: btnEntrance;
}

/* zoomIn */
@keyframes btnEntrance { 
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  to {
    opacity: 1;
  }    
}

/* fadeInUp */
@keyframes btnEntrance {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.btnExit {
  animation-duration: 0.25s;
  animation-fill-mode: both;  
  animation-name: btnExit;
}

/* fadeOutDown */
@keyframes btnExit {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
}
.bg

/*-----------------------------------------------------nav-----------------------------------------------------*/

#navbar {
    overflow: hidden;
    background-color: transparent;
    padding: 90px 10px;
    transition: 0.4s;
    position: fixed;
    max-width: 100%;
    top: 0;
    z-index: 99;
  }

/*   nav .bg {
    position: fixed;
} */

  #navbar h1 {
    float: left;
    position: fixed;
    margin-left: 45px;
    color: #ACAAEB;
    font-weight: bolder;
  }

  #navbar img {
    height: 25px;
    float: right;
    margin-top: 35px;
    margin-right: 35px;
  }

/*   #navbar-right {
    float: right;
  } */
  
  @media screen and (max-width: 50px) {
    #navbar {
      padding: 20px 10px !important;
    }
    #navbar a {
      float: none;
      display: block;
      text-align: left;
    }
    #navbar-right {
      float: none;
    }
  }

/*-----------------------------------------------------about-----------------------------------------------------*/

.about {
    text-align: left;
    width: 30%;
    display: flex;
    padding: 10% 5% 1% 5%;
}

.about img {
    width: 95%;
    opacity: 80%;
}

.about h2 {
    color: white;
    font-weight: 400;
    font-size: 70px;
    font-family: serif;
}

.about p {
    color: white;
    font-weight: 200;
    font-size: 25px;
    text-align: left;
}

.vl {
    border-left: 1.5px solid rgb(255, 255, 255);
    height: 370px;
    opacity: 35%;
    margin: 22% 10% 0% 10%;
}

.projects {
    margin-top: 50%;
}

.projects a {
    color: white;
    text-align: left;
    text-decoration: none;
    font-size: 25px;
    font-weight: 700;
  }

  .projects a:hover {
    color: #7975e7;
  }

  .projects img {
    fill: #827fd6;
    height: 20px;
  }

/*----------------------------------------------------top app-----------------------------------------------------*/

.topapp {
    margin-top: 15%;
    text-align: center;
}

.topapp h2 {
    color: white;
    font-size: 33px;
    font-weight: 700;
    margin-bottom: 8%
  }

.topapp h3 {
    color: white;
    font-size: 25px;
  }

.topapp p {
    color: white;
    font-size: 20px;
    font-weight: 300;
    padding: 0% 10% 2% 10%;
  }

.container{
    width: 90%;
    padding: 20px;
    margin: 0px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.box{
    width: 250px;
    margin: 0 10px;
    transition: 1s;
}

.box img{
    display: block;
    width: 100%;
}

.box:hover{
    transform: scale(1.3);
    z-index: 2;
}

/*---------------------------------------------------other apps---------------------------------------------------*/

.otherapps {
    padding-top: 3%;
    padding-bottom: 5%;
    background-color:white;
    height: auto;
    text-align: center;
  }

.otherapps h2 {
    color: #5C5B90;
    font-size: 33px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
  }

.otherapps h3 {
    color: rgb(0, 0, 0);
    font-size: 25px;
    margin-top: 6%;
  }

.otherapps p {
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: 300;
    padding: 0% 12% 1% 12%;
  }

.webcnt {
    margin-bottom: 10%;
}

.webcnt img {
    width: 65%;
    margin: 10px auto;
    display: flex;
}

.pptcnt {
    width: fit-content;
    background-color: #7f7f7f;
    margin: 10px auto;
    display: flex;
    width: 60%;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.3);
  }

.pptcnt img {
    width: 100%;
}
