/* Abulmohsen Alfreh */
/* ID: 439010208 */

* {box-sizing: border-box;}

body {
    background-image: linear-gradient(#22206C,#E3E3E3);
    margin: 0;
    font-family: 'Cairo', sans-serif;
    /* background-image: url('https://png.pngtree.com/png-vector/20221122/ourmid/pngtree-abstract-blue-digital-technology-lines-diagram-png-image_6474402.png'); */
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
    background-attachment: scroll;
}

.bg

/*-----------------------------------------------------nav-----------------------------------------------------*/

#navbar {
    overflow: hidden;
    background-color: transparent;
    padding: 90px 10px;
    transition: 0.4s;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
  }

  #navbar h1 {
    float: left;
    margin-left: 35px;
    color: #ACAAEB;
    font-weight: bolder;
  }

  #navbar img {
    height: 20px;
    float: right;
    margin-top: 35px;
    margin-right: 35px;
  }
  
  /* #navbar #logo {
    width: 90px;
    margin-left: 1%;
    transition: 0.4s;
  } */

  #navbar-right {
    float: right;
  }
  
  @media screen and (max-width: 580px) {
    #navbar {
      padding: 20px 10px !important;
    }
    #navbar a {
      float: none;
      display: block;
      text-align: left;
    }
    #navbar-right {
      float: none;
    }
  }

/*-----------------------------------------------------about-----------------------------------------------------*/

.about {
    /* background-color: rgb(253, 250, 248); */
    text-align: left;
    width: 30%;
    display: flex;
}

.about img {
    width: 400px;
    opacity: 80%;
    margin: 40% 0% 30% 0%;
}

.about h2 {
    color: white;
    font-weight: 400;
    font-size: 80px;
    font-family: serif;
    margin: 45% 0% 0% 5%;
    /* padding-bottom: 5px; */
}

.about p {
    color: white;
    font-weight: 200;
    font-size: 25px;
    text-align: left;
    margin-left: 5%;
    margin-bottom: 30%;
}

/*-----------------------------------------------------about-----------------------------------------------------*/

.projects {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 100px;
    /* display: flex; */
}

.projects a {
    color: white;
    text-align: center;
    padding: 60px;
    text-decoration: none;
    font-size: 25px;
    font-weight: 700;
    border-radius: 4px;
  }

  .projects a:hover {
    color: #7975e7;
  }
  
  /* .projects a.active {
    color: #827fd6;
    font-weight: bolder;
  } */

  .projects img {
    fill: #827fd6;
    height: 20px;
  }

/*----------------------------------------------------top app-----------------------------------------------------*/

.topapp {
    margin-top: 10%;
}
.topapp h2, h3, p {
    text-align: center;
}

/* .topapp h3,p {
    margin-left: 48%;
    width: 500px;
} */

.topapp h2 {
    color: white;
    font-size: 35px;
    /* font-weight: 300; */
  }

.topapp h3 {
    color: white;
    font-size: 25px;
    /* font-weight: 300; */
  }

.topapp p {
    color: white;
    font-size: 20px;
    font-weight: 300;
  }

.topapp img {
    height: 540px;
    margin-left: 7%;
}

/*---------------------------------------------------other apps---------------------------------------------------*/

.servicessec {
    display: flex;
    background-color: rgb(253, 250, 248);
    height: 500px;
    margin: 10% 0% 10% 0%;
}
 
.services {
    width: 100%;
    margin: 10% 10% 0.5% 100%;
    align-content: center;
}
  
.serviceimage {
    width: 50px;
}
  
.services div {
    display: inline-block;
    width: 100%;
}
  
.services p {
    font-size: 20px;
    font-weight: 500;
    color: #101010;
}
  
.services .bold {
    font-weight: 900;
}

/*--------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------Feedback page-------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------*/

.feedback {
    background-color: #e9e7e3;
    height: 500px;
}

.feedback h1 {
    margin-left: 1%;
}

.feedback div {   
    padding: 3% 2%;
    margin: 0% 10%;
}

input[type=text], input[type=email], textarea{
    display: block;
    margin: 1%;
    padding: 1% 3%;
    width: 50%;
    border: 1px solid rgb(216, 215, 215);
    border-radius: 4px;
}

textarea {
    resize: none;
}

input[type=submit] {
    background-color:rgb(114, 86, 30);
    padding: 1% 3%;
    color: white;
    border: none;
    border-radius: 5px;
}

input::placeholder {
    color: rgb(190, 190, 190);
    font-size: 14px;
    font-family: 'Arial';
}

textarea::placeholder {
    color: rgb(190, 190, 190);
    font-size: 14px;
    font-family: 'Arial';
}

#sub {
    margin-left: 1%;
}

/*--------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------Login Page--------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------*/

.mainwrap {
    background: #e9e7e3;
    width:100%;
    height: 690px;
    display: flex;
    align-items: center;
}

.boxcontainer {
    display: flex;
    width: 36%;
    height:470px;
    background: white;
    margin-left: 7%;
}

.midcontainer {
    margin-top: 1%;
    margin-left: 10%;
}

.midcontainer h1 {
    color:rgb(152, 114, 36);
    font-size: 35px;
}

.midcontainer .form label {
    font-size: medium;
    color: #101010;
    font-weight: 500;
}

.midcontainer .form input {
    width:350px;
    height:35px;
    margin-right: 50px;
    color:rgb(155, 152, 152);
    padding-left: 5px;
    border-radius: 6px;
    border: 1px solid rgb(216, 215, 215);
}

.midcontainer .form input::placeholder {
    color: rgb(190, 190, 190);
    font-size: small;
    padding: 2%;
}

.frgtpw {
    color:rgb(128, 128, 128);
    font-size: 12px;
    text-decoration: none;
    margin-left: 1%;
}

.midcontainer .form .loginbtn {
    padding:10px;
    cursor: pointer;
    width:358px;
    font-size: 16px;
    margin-top: 25px;
    background-color:rgb(114, 86, 30);
    color: rgb(247, 244, 244);
    border-radius:6px;
    border: none;
}

.signup {
    width: 100%;
    font-size: 13px;
    font-weight: 400;
    color: rgb(158, 158, 158);
    margin-top: 99%;
}

.signupbtn {
    text-decoration: none;
    padding: 4px 8px;
    font-size: 12px;
    margin-left: 8px;
}

/*--------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------footer----------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------*/

footer {
    background: #41362b;
    color: white;
    padding: 30px;
    height: 500px;
}

.subscribe {
    text-align: center;
    max-width: 100%;
    margin: auto;
}

.subscribe input[type="email"] {
    width: 40%;
    border-radius: 50px;
    margin-left: 29%;
    padding: 10px;
    color: #9B781D;
}

.address{
    display: inline-table;
    max-width: 30%;
    width: 30%;
    margin: 2% 0 2% 5%
}

.us .bold, .address .bold{
    color: white;
    font-size: 25px;
    font-weight: 700;
    padding-bottom: 4%;
}

.us p, .address p{
    color: white;
    font-size: 15px;
}

.media{
    display: inline;
    margin: 0 0 0 85%;
}

.media img{
    margin: 0.5%;
    width: 2%;
    height: auto;
}
